# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [ ]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [6]:
# Your code here:


import polars as pl

print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")


num_rows = len(df)
num_columns = len(df.columns)
print(f"Our inventory database contains {num_rows} rows and {num_columns} columns.")

Loading diamonds dataset...
Dataset loaded successfully!
Our inventory database contains 6000 rows and 8 columns.

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [8]:
# Your code here:


# Question 2: What information do we track about each diamond?

print("We track the following attributes for each diamond:")
for col in df.columns:
    print(f"- {col}")

We track the following attributes for each diamond:
- Carat Weight
- Cut
- Color
- Clarity
- Polish
- Symmetry
- Report
- Price

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms:

In [9]:
# Question 3: Grain of the dataset

print("Grain: One row represents one unique diamond in the company's inventory, including all recorded attributes.")


df.head(5)

Grain: One row represents one unique diamond in the company's inventory, including all recorded attributes.

shape: (5, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 1.1          ┆ Ideal ┆ H     ┆ SI1     ┆ VG     ┆ EX       ┆ GIA    ┆ 5169  │
│ 0.83         ┆ Ideal ┆ H     ┆ VS1     ┆ ID     ┆ ID       ┆ AGSL   ┆ 3470  │
│ 0.85         ┆ Ideal ┆ H     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3183  │
│ 0.91         ┆ Ideal ┆ E     ┆ SI1     ┆ VG     ┆ VG       ┆ GIA    ┆ 4370  │
│ 0.83         ┆ Ideal ┆ G     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3171  │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴───────┘

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [12]:
# Your code here:

# Question 4


count = len(df)
print(f"Total number of diamonds: {count}")

avg_carat = df["Carat Weight"].mean()
print(f"Average carat weight: {avg_carat}")

print(f"Total weight of diamonds (in carats): {count * avg_carat}")

Total number of diamonds: 6000
Average carat weight: 1.3345200000000002
Total weight of diamonds (in carats): 8007.120000000001

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [16]:
# Your code here:

# Questionn 5


unique_cuts = df["Cut"].unique()
num_unique_cuts = len(unique_cuts)

print(f"We have {num_unique_cuts} unique cut types:")
for cut in unique_cuts:
    print(f" {cut}")

We have 5 unique cut types:
 Fair
 Very Good
 Good
 Ideal
 Signature-Ideal

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [17]:
# Your code here:

# Question 6


max_price = df["Price"].max()
min_price = df["Price"].min()

print(f"Most valuable diamond price: ${max_price:,.2f}")
print(f"Least valuable diamond price: ${min_price:,.2f}")

Most valuable diamond price: $101,561.00
Least valuable diamond price: $2,184.00

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [23]:
# Your code here:



import polars as pl

color_col = "Color" if "Color" in df.columns else "color"
price_col = "Price" if "Price" in df.columns else "price"

result = (
    df.group_by(color_col)
      .agg(pl.col(price_col).median().alias("median_price"))
      .sort("median_price", descending=True)
)
result

shape: (6, 2)
┌───────┬──────────────┐
│ Color ┆ median_price │
│ ---   ┆ ---          │
│ str   ┆ f64          │
╞═══════╪══════════════╡
│ F     ┆ 8860.0       │
│ G     ┆ 8800.0       │
│ D     ┆ 7567.0       │
│ H     ┆ 7169.0       │
│ E     ┆ 7059.5       │
│ I     ┆ 6655.0       │
└───────┴──────────────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

[link text](https://)**Your answer:** New grain =

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [25]:
# Your code here:

import polars as pl

clarity_col = "Clarity" if "Clarity" in df.columns else "clarity"
price_col   = "Price"   if "Price"   in df.columns else "price"
carat_col   = "Carat Weight" if "Carat Weight" in df.columns else "carat"

result = (
    df.group_by(clarity_col)
      .agg([
          pl.len().alias("diamond_count"),
          pl.col(price_col).median().alias("median_price"),
          pl.col(carat_col).sum().alias("total_carats"),
      ])
      .sort(clarity_col)
)
result

shape: (7, 4)
┌─────────┬───────────────┬──────────────┬──────────────┐
│ Clarity ┆ diamond_count ┆ median_price ┆ total_carats │
│ ---     ┆ ---           ┆ ---          ┆ ---          │
│ str     ┆ u32           ┆ f64          ┆ f64          │
╞═════════╪═══════════════╪══════════════╪══════════════╡
│ FL      ┆ 4             ┆ 62371.5      ┆ 7.87         │
│ IF      ┆ 219           ┆ 12647.0      ┆ 316.0        │
│ SI1     ┆ 2059          ┆ 5417.0       ┆ 2563.69      │
│ VS1     ┆ 1192          ┆ 9245.0       ┆ 1682.74      │
│ VS2     ┆ 1575          ┆ 7568.0       ┆ 2170.81      │
│ VVS1    ┆ 285           ┆ 11142.0      ┆ 389.43       │
│ VVS2    ┆ 666           ┆ 10266.0      ┆ 876.58       │
└─────────┴───────────────┴──────────────┴──────────────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [27]:
# Your code here:

import polars as pl

cut_col   = "Cut"   if "Cut"   in df.columns else "cut"
color_col = "Color" if "Color" in df.columns else "color"
price_col = "Price" if "Price" in df.columns else "price"


pricing = (
    df.group_by([cut_col, color_col])
      .agg([
          pl.len().alias("count"),
          pl.col(price_col).median().alias("median_price")
      ])
      .sort([cut_col, color_col])
)
pricing

shape: (30, 4)
┌───────────┬───────┬───────┬──────────────┐
│ Cut       ┆ Color ┆ count ┆ median_price │
│ ---       ┆ ---   ┆ ---   ┆ ---          │
│ str       ┆ str   ┆ u32   ┆ f64          │
╞═══════════╪═══════╪═══════╪══════════════╡
│ Fair      ┆ D     ┆ 12    ┆ 5040.0       │
│ Fair      ┆ E     ┆ 32    ┆ 4908.5       │
│ Fair      ┆ F     ┆ 24    ┆ 4628.0       │
│ Fair      ┆ G     ┆ 21    ┆ 4646.0       │
│ Fair      ┆ H     ┆ 24    ┆ 4358.0       │
│ …         ┆ …     ┆ …     ┆ …            │
│ Very Good ┆ E     ┆ 323   ┆ 6703.0       │
│ Very Good ┆ F     ┆ 455   ┆ 8330.0       │
│ Very Good ┆ G     ┆ 578   ┆ 8249.0       │
│ Very Good ┆ H     ┆ 424   ┆ 6564.0       │
│ Very Good ┆ I     ┆ 383   ┆ 6684.0       │
└───────────┴───────┴───────┴──────────────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain =

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [35]:
# Your code here:

color_col = "Color" if "Color" in df.columns else "color"
cut_col   = "Cut"   if "Cut"   in df.columns else "cut"
price_col = "Price" if "Price" in df.columns else "price"

top5 = (
    df.group_by([color_col, cut_col])
      .agg([
          pl.len().alias("diamond_count"),
          pl.col(price_col).sum().alias("total_value"),
      ])
      .sort("total_value", descending=True)
      .head(5)
)
top5

shape: (5, 4)
┌───────┬───────────┬───────────────┬─────────────┐
│ Color ┆ Cut       ┆ diamond_count ┆ total_value │
│ ---   ┆ ---       ┆ ---           ┆ ---         │
│ str   ┆ str       ┆ u32           ┆ i64         │
╞═══════╪═══════════╪═══════════════╪═════════════╡
│ G     ┆ Ideal     ┆ 690           ┆ 9363514     │
│ G     ┆ Very Good ┆ 578           ┆ 7140620     │
│ F     ┆ Very Good ┆ 455           ┆ 5648327     │
│ F     ┆ Ideal     ┆ 363           ┆ 5346782     │
│ H     ┆ Ideal     ┆ 458           ┆ 5279687     │
└───────┴───────────┴───────────────┴─────────────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use